body {
  color: #fff;
}
.navbar {
  opacity: 0.8;
}
.nav-link.active {
  font-weight: 500;
}
#landing-page-section {
  background: url(../images/ux-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.8);
}
.portfolio-card {
  padding-top: 1rem;
  line-height: 1.6;
}
.btn-customized {
  border-radius: 30px;
}
.link-text {
  color: white;
  text-decoration: underline;
}

.row-background,
.card-bg {
  background-color: #eaeaea;
  border: none;
}
